:root {
    --bullseye-red: #ff0d0d;
    --blue-ribbon: #0001F0;
    --bracer-black: #110e0c;
    --sagittarius-gold: #fff243;
    --cock-feather: #f5f5eb;
}

#map {
    width: 90%;
    height: 700px;
    margin-left: 100px;
    
}

#map-search-input {  
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: var(--bracer-black);
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
}


#form-zip {  
    margin-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
}
