:root {
  --bullseye-red: #e61a1a;
  --blue-ribbon: #1a13ff;;
  --bronze-arrowhead: #cd7f32; 
  --bracer-black: #110e0c;
  --astroturf: #28c514;
  --sagittarius-gold: #fff243;
  --cock-feather: #f5f5eb;
}

body {

}

